#id01 {
  z-index: 999999;
}
.sub {
  position: relative;
  background: transparent;
  padding: 0em 5em;
  top: -3em;
  .field {
    position: relative;
    top: -2em;
    button {
      background: #209cee !important;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-weight: 700;
      padding: 0 !important;
      transition: all ease 0.2s;
      &:hover {
        opacity: 0.9;
      }
    }
  }
}
.tscs {
  position: relative;
  h1 {
    text-align: center;
    font-family: 'Poppins';
    font-weight: 700 !important;
    color: #000;
    text-shadow: none !important;
  }
}
.tsrw {
  position: relative;
  filter: blur(3px);
}
.tsi {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  padding: 4em 2em;
  background: rgba(244, 67, 54, 0.6);
  h2 {
    font-family: 'Poppins' !important;
    color: #fff;
    font-size: 6em;
    font-weight: 900 !important;
    text-align: center;
  }
  p {
    color: #fff;
    font-size: 1.5em;
    text-align: center;
  }
}
.w3-modal,
.w3-modal-content {
  background: transparent !important;
  box-shadow: none !important;
  text-transform: none !important;
}

.wwds {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background: #222 !important;
  margin: 1em 0;
  .imgd img {
    border-radius: 10px;
    width: 70%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .imgd .imgoverlay {
    z-index: 4;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to right bottom, #1d2b64, #f8fdfa);
    opacity: 0.2;
  }
}

.wwdt {
  font-family: 'Poppins' !important;
  color: #fff;
  margin: 1em 0 0 0;
  font-weight: 900 !important;
  text-shadow: none !important;
  font-size: 3.2em !important;
  text-align: center;
  z-index: 10 !important;
}

#overlay-blur {
  background: #000;
  opacity: 0.6;
  display: none;
  z-index: 99;
  filter: blur(6px);
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.w3-container {
  padding: 0.4em 2em !important;
  font-family: 'Poppins' !important;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  h2 {
    font-family: 'Poppins' !important;
    font-size: 1.6em !important;
    font-weight: 600 !important;
    text-transform: uppercase;
  }
}

.support-model {
  .separator {
    background: #fff !important;
    color: #000 !important;
    border-color: #000 !important;
  }
  background: #fff;
  padding: 4em 4em 3em 4em;
  font-family: 'Poppins' !important;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Poppins';
    color: #001;
    font-size: 2.1em;
  }
  .sm-f {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1em 0em;
    .l {
      border-right: 0px solid #aaa;
    }
    .b {
      grid-column: 1 / span 2;
      margin-top: 2em !important;
      text-align: center;
    }
    .l,
    .r,
    .b {
      background: #eee;
      padding: 1em 3em;
      border-radius: 6px;
      margin: 0 2em;
      h2 {
        text-align: center;
        font-family: 'Poppins';
        font-size: 1.7em;
        letter-spacing: 1px;
        font-weight: 400;
        color: #000;
        text-transform: uppercase;
      }
      h3 {
        text-align: center !important;
        font-family: 'Poppins';
        font-size: 1.2em;
      }
    }
  }
}

.ccmcb {
  background: transparent !important;
  font-family: 'Poppins' !important;
  font-weight: 900 !important;
  border-radius: 10px;
  &:hover {
    background: #222 !important;
    color: #fff !important;
  }
}

.limage {
  filter: blur(5px);
}
.parallax,
.filter,
.filter-color-white {
  padding: 0 !important;
  margin: 0 !important;
  box-shadow: 2px 4px 20px 16px rgba($color: #000, $alpha: 0.2);
}
.issues-title {
  grid-column: 1 / span 2;
  text-align: center;
  color: black;
  font-family: 'Poppins';
  margin-top: 2em;
  font-size: 3em;
}

.spaningrid {
  grid-column: 1 / span 2;
  margin-bottom: 2em;
}
html,
body {
  margin: 0 !important;
  font-family: 'Open Sans' !important;
  background: #d3cce3; /* fallback for old browsers */
  background: linear-gradient(
    to bottom,
    #f9f4f0,
    #e3dcf3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  position: relative !important;
  background: transparent !important;
}

.content {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-48%, -50%) !important;
  width: 70%;

  .des-main-ff {
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-weight: 300 !important;
    font-size: 1.6em !important;
    text-transform: uppercase !important;
    text-shadow: 0 0 14px 16px rgba(0, 0, 0, 0.8);
  }
}
.title-modern-main {
  transform: translateY(-50%) !important;
  font-family: 'Poppins' !important;
  font-weight: 800 !important;
  font-size: 6.2em !important;
  text-shadow: 2px 0 22px 16px rgba(0, 0, 0, 0.4) !important;
}

.button-get-started {
  position: relative !important;
  top: 50px !important;
  a {
    margin: 0 2em !important;
  }
}
.row {
  padding: 4em 0 !important;
  h2 {
    margin-top: 0.8em !important;
    font-family: 'Poppins' !important;
    font-size: 3.8em !important;
  }
  .description {
    font-size: 1.4em !important;
  }
}

#start-reading {
  color: black !important;
}

.intro {
  margin-top: 1%;
  width: 50%;
  float: right;
}

@media only screen and (max-width: 968px) {
  /* For mobile phones: */
  .support-model {
    .sm-f {
      grid-template-columns: 1fr !important;
      .b {
        grid-column: 1/2;
      }
    }
  }
  .sm-f {
    grid-template-columns: 1fr !important;
    grid-gap: 1em;
  }
  .intro {
    margin: 0;
    width: 100%;
  }
  .title-modern-main {
    margin: 0 !important;
    margin-top: 1.6em !important;
    line-height: 1em !important;
  }
  .sub {
    .sub-txt {
      font-size: 2.8em !important;
    }
    display: flex;
    height: max-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    padding: 0em 1em 6em 0;
    position: relative;
    top: 3em !important;
    .field {
      button {
        position: relative;
        width: max-content;
        top: 3.5em;
        padding: 0 1em !important;
        font-size: 1.4em !important;
      }
    }
  }
}
