.save-article-w {
  background: #e6e6e6;
  padding: 0.5em 4em;
  z-index: 99999;
  color: #222;
  width: 60%;
  margin: 1em 0;
  border-radius: 1em;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  h2 {
    font-size: 1.7em;
    display: inline-block;
    font-weight: 300;
  }

  .save-btn {
    display: inline-block;
    padding: 0.3em 1.5em;
    background: #fff;
    color: #222;
    margin-left: 1em;
    border-radius: 1em;
    float: right;
    &:hover {
      opacity: 0.9;
    }
  }

  .saved-post {
    background: green;
  }
}
