.close-button {
  position: absolute;
  top:0;
  right:0;
  padding: 10px 15px;
  box-sizing: border-box;
}

.log-in-btn{
  text-transform: uppercase;
  padding: 0.2em 1em;
  background: transparent;
  font-weight: 400;
  font-size: 0.85em;
  color:#2196F3;
  border: 1px solid #2196F3;
  border-radius: 16px;
  transition: all ease-out 0.3s; 
}

.log-in-btn:hover{
  color:#fff;
  background: #2196F3;
}