@import './index.scss';

@import '~bulma/sass/elements/box.sass';

* {
  box-sizing: border-box !important;
}
.box {
  width: 100%;
  padding: 0 !important;
  transition: 400ms ease-in;
}

.top-article {
  overflow: hidden;
}

.top-article-image {
  height: 600px;
}

.top-article-meta {
  padding: 4em 3em;
  box-sizing: border-box;
  position: absolute;
  background: #fff;
  bottom: 0;
  height: 100%;
  right: 0;
  width: 50%;
}

.top-article-meta h3 {
  font-weight: 800;
  font-size: 3em;
  text-align: left;
  overflow: hidden;
  line-height: 65px;
}

.top-article-meta h4 {
  padding: 1em 0;
  margin: 2em 0;
  font-weight: 400;
  color: #999;
  font-size: 1.1em;
}

.read-more-btn {
  color: #363636;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 2px;
  &:hover {
    opacity: 0.8;
    color: #363636;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .top-article-meta {
    position: initial;
    // top: -100px;
    //top: 1px;
    margin-top: -135%;
    overflow: hidden;
    width: 100%;
    margin-left: 0px;
    padding: 0px !important;

    h3 {
      font-size: 3em;
    }

    h3::after {
      content: '\n';
      visibility: hidden;
    }

    h4 {
      display: none;
    }
  }

  .top-article {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    // height: 600px;
  }

  .top-article-image {
    img {
      display: block;
      width: 100% !important;
      height: auto !important;
      margin: 0px;
      padding: 0px;
    }

    margin-bottom: 0px !important;
    // width: 80vw;
    padding: 0;
    position: initial;

    // border-width: 20px;
    // border-color: red;
  }
  .top-article-image::after {
    content: '\n';
    visibility: hidden;
  }
}

// @media only screen and (max-width: 720px) and (min-width: 500px) {
//   /* For mobile phones: */
//   .top-article-meta {
//     position: relative;
//     top: 1px;
//     margin-top: -200% !important;
//     overflow: hidden;
//     width: 100%;
//     margin-left: 15px;
//     padding: 0px !important;
//   }

//   .top-article {
//     display: flex;
//     flex-direction: column;
//   }
// }
