@import './index.scss';

@import '~bulma/sass/elements/box.sass';

.box {
  transition: 0.3s;
  border-radius: 0;
  border: 0;
  background: #fafafa;
  box-shadow: none;
  margin-bottom: 1px;
}

.featured-article {
  height: max-content;
  padding: 0 0 0.8em 0;
  border-radius: 10px;
  margin: 0 1em 0 0;
  background: #eee;
}

.featured-article-image {
  float: right;
  height: 200px;
  overflow: hidden;
  font-weight: 800;
}

.featured-article-content {
  position: relative;
  top: 0.5em;
  padding: 0.8em 0.8em;
  a {
    font-weight: 600 !important;
    font-size: 1.4em;
    color: #333;
    line-height: 30px;
  }
  a:hover {
    text-decoration: underline;
  }
  h4 {
    line-height: 0;
    font-weight: 600;
    font-size: 0.9em;
    padding: 0.2em 0;
    color: #888;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .featured-article-image {
    margin-bottom: -30%;
  }
}
