.section-title{
    display: block;
    font-size: 1.6em;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0 0em;
    color: #222;
    margin-bottom: 1em;
    border-bottom: 1.5px solid #222;
    margin-right: 20px;
}