.container {
  position: relative;
  width: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 80%;
  // height: 20%;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  width: 100%;
  color: #222 !important;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  background: transparent;
  text-align: center !important;
  font-size: 5rem !important;
  h1 {
    transform: translateY(-65%);
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .bc-i {
    padding: 1em;
    width: max-content;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.option-buttons {
  padding: 20%;
}

.button {
  // background: #fff !important;
  font-weight: 1100 !important;
  margin: -30% 10px;
  color: #fff !important;
  font-size: 5rem !important;
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #004e92,
    #000428
  ) !important; /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #004e92,
    #000428
  ) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media only screen and (max-width: 768px) {
  .middle {
    text-align: center;
    padding: 15px;
    position: absolute;
  }
  .button {
    text-align: center;
    margin-bottom: 5% !important;
  }
}
