.res-nav,
.navbar {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 0% !important  ;
  margin-bottom: -1% !important;
  background: transparent !important;
  margin-top: 2em;
}

a {
  color: #4a4a4a !important;
}

.issues-btn {
  text-transform: uppercase;
  padding: 0;
  background: transparent;
  font-weight: 500;
  border-bottom: 2px solid transparent;
  transition: all ease-in 200ms;
  cursor: pointer;
}

// .issues-btn:hover {
//   border-bottom: 2px solid #2196f3;
// }
.navbar-item:hover {
  border-bottom: 2px solid #2196f3;
  font-size: 1.2em;
  columns: #4a4a4a;
  cursor: pointer;
}
