.saved-tags-title {
  font-size: 2.2em;
  font-weight: 700;
  line-height: 60px;
  color: #333333;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .saved-tags-title {
    margin-top: 20%;
  }
}
