@import '../index.scss';

.button {
  display: inline;
  float: right;
}

.editcomp-w {
  padding: 1em 0;
  border-radius: 10px;
  h1 {
    font-size: 1.4em;
    font-weight: 500;
  }
  a {
    background: transparent;
    text-transform: uppercase;
    font-size: 0.8em;
    top: -2.5em;
    position: relative;
  }
  i {
    position: relative;
    margin: 0 1em 0 0;
  }
  input {
    background: transparent;
    font-size: 1.5em;
    position: relative;
    top: -5px;
  }
}

input {
  border: 0;
  background: #f9f9f9;
  font-size: 2em;
}

input:focus {
  outline: none;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .mobile-view-flex {
    display: flex;
    flex-direction: row;
  }

  .editcomp-w {
    a {
      position: relative;
      top: -1em;
    }
  }
}
